before_script:
- env | sort

.python: &python
  stage: test
  tags:
  - docker
  script:
  - pip install --user pylint flake8
  - python -m pylint -E bin/cpumem
  - python -m pylint bin/cpu
  - python -m flake8 bin/cpu

python2.7:
  <<: *python
  image: python:2.7

python3.6:
  <<: *python
  image: python:3.6

python3.7:
  <<: *python
  image: python:3.7

shellcheck:
  stage: test
  tags:
  - docker
  image: ubuntu:16.04
  script:
  - apt-get update
  - apt-get install -y shellcheck
  - shellcheck .vnc/xstartup
  - shellcheck bin/dwm-clock
  - shellcheck bin/getip
  - shellcheck bin/git-meld
  - shellcheck bin/git-refresh
  - shellcheck bin/git-remote-add
  - shellcheck bin/git-skipci
  - shellcheck bin/morun
  - shellcheck bin/same
