[color]
	ui = auto
[user]
	name = Walter Sosa
	email = wasosa@oblong.com
[alias]
       lol  = log --graph --decorate --pretty=oneline --abbrev-commit
       lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
       meld = !$HOME/bin/git-meld
       refresh = !$HOME/bin/git-refresh
       remote-add = !$HOME/bin/git-remote-add
       skipci = !$HOME/bin/git-skipci
       this = rev-parse --abbrev-ref HEAD
[grep]
	lineNumber = true
